모든 페이지에서는 './+types/페이지명'의 Route를 import하여 타입을 지정해주세요.
graphql 추천은 schema.json을 참고하고 해주세요.
stateBadgeVariant, stateLabel 등은 ~/lib/enum-mapping.ts에 있습니다. 참고하세요.
pagination 구현시 ~/components/common/page-info.tsx를 참고하세요.
클라이언트 사이드에서 mutation이나 query를 할 때 훅을 먼저 찾아보세요. 쓸모 없는 import를 줄일 수 있습니다. 예를들어 GET_HOSPITAL_BY_YKIHO_QUERY 같은 경우 graphql codegen을 이용했기 때문에 useGetHospitalByYkihoQuery 훅을 사용할 수 있습니다.
서버사이드에서 apollo client를 사용시에는 serverApolloClient를 사용하세요. 그리고 서버사이드에서 쿼리나 뮤테이션을 수행 시에는 꼭 타입을 지정해주세요. graphql codegen을 이용했기 때문에 타입을 지정할 수 있습니다.
클라이언트 사이드에서 경로 이동시에 useNavigate를 사용하세요. window.location.href 등은 사용하지 말아주세요.
loader에서는 서버사이드 graphql, 페이지에서는 클라이언트 사이드 graphql. 훅을 사용해주세요.
필요한 경우 enum-mapping.ts를 참고하세요. stateBadgeVariant, stateLabel, roleLabel 등을 참고하세요.
Dialog를 만들 때에는 내용들을 DialogContent 안에 넣어주시고, DialogDescription을 사용해주세요.